# Ignore compiled Python files
__pycache__

# Ignore defaults directory
defaults/

# Ignore specific files
temp.py
temp_main.py
browser_main.py
win.py
extras.md

# Ignore environment files
.env

# Ignore virtual environment directory
venv/
